ul {
    max-height: 500px;
}

.note-container {
    background: #dbeafe;
    min-height: 70vh;
}

.note-header {
    border-bottom: 1px solid #1725543b;
    background: #172554;
}

.btn-note {
    background: #172554;
}

.input-note {
    background: #eff6ff;
}

.title-note,
.not-notes {
    color: #172554 !important;
}

input[type="checkbox"] {
    accent-color: #172554;
}

textarea {
    resize: none !important;
}

.item-noteStatus {
    width: 35px;
    height: 35px;
    background: #172554b1;
    color: #eff6ff;
}